<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
  <title>Spring Boot CRUD Example Edit Page</title>
</head>
<body>
	<div layout:fragment="content">
	   <div class="container">
		   <div class="row">
		      <div class="col-md-offset-3 col-md-6">
		      
		          <div class="panel panel-success">
					  <div class="panel-heading">
					    <h3 class="panel-title">Edit Employee</h3>
					  </div>
					     <div class="panel-body">
					       <form th:object="${editEmployee}" th:action="@{/employee/update}" action="#" method="post">
					         <input type="hidden" th:field="*{id}"/>
					         <input type="text" th:field="*{empName}" class="form-control" placeholder="Employee Name"/>
					         <div style="clear:both; display:block;height:10px;"></div>
					         <input type="text" th:field="*{empPosition}" class="form-control" placeholder="Employee Position"/>
					         <div style="clear:both; display:block;height:10px;"></div>
					         <input type="text" th:field="*{empSalary}" class="form-control" placeholder="Employee Salary (000.00)"/>
					         <div style="clear:both; display:block;height:10px;"></div>
					         <input type="reset" class="btn btn-warning pull-left" value="Reset" />
					         <input type="submit" class="btn btn-danger pull-right" value="Save" />
					       </form>
					      </div>
					       
					       <div class="panel-footer">
								 <a th:href="@{/}" class="btn btn-success">Home Page</a>
					       </div>  
					</div>
		      </div>
		   </div>
		</div>
	</div>
</body>
</html>
